/*全体の設定
---------------------------------------------------------------------------*/
html{
	-webkit-scroll-behavior:smooth;
	scroll-behavior:smooth;
}
body,img,div,iframe,fieldset,ul,a{ margin:0;padding:0; }
body {
	width: 100vw;
	position: relative;
}
button:hover{
	transform: scale(1.03);
}
button:active{
	transform: scale(1.0);
}
}
/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
}
#scrool_box{
	padding-top: 8vmin;
}
/*メインイメージ
---------------------------------------------------------------------------*/
#img_box {
	position: relative;
	width: 100vw;
	height: 40vw;
}
#main_img{
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#portfolio{
	z-index:1;			/* 重なりの順序 */
	font-size: 6vw;
	font-weight: bold;
	color: floralwhite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#comment{
	position: absolute;
	top: 100%;
	left: 5vmin;
	font-size: 5px;
}
/*コンテンツ
---------------------------------------------------------------------------*/
dl{
	margin: 5vmin;
}
dt{
	padding-top: 100px;	/* ナビゲーションバーと重ならないように */
	
	font-size: 18px;
	font-weight: bold;
}
dd{
	margin: 16px;
	font-size: 16px;
	line-height: 1.5;
}

#original_view{
	display: flex;				/*タグ内の要素を横並びに*/
	flex-wrap: wrap;			/*画面幅に伴って要素を折り返す*/
	/*justify-content: center;	左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
	max-width: 100vw;
}
#original_view fieldset{
	text-align: center;
	position: relative;
	width: 400px;
	height: 480px;
	max-width: 90vw;
	margin: 5px;
}
legend{ font-size: 18px;}
#exhibit_eight_queen{}
#exhibit_eight_queen legend span{
	font-size: 12px;
}
#exhibit_eight_queen div{
	display: flex;				/*タグ内の要素を上下左右中央寄せ*/
	justify-content: center;	/*左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
}
#exhibit_eight_queen div button{
	width: 80px;
	height: 30px;
	margin: 10px;
	
	font-size: 18p;
	background: springgreen;
}
#eight_queen_frame{
	width: 400px;
	height: 400px;
	max-width: 90vw;
	max-height: 90vw;
	margin: 0 auto;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
#eight_queen{
	width:280px;
	height:400px;
	max-width: 90vw;
	max-height: 90vw;
	margin: 2px;
}

#exhibit_chess{}
#exhibit_chess div{
	margin: 0 auto;
}
#exhibit_chess a{
	width: 120px;
	margin: 10px auto 0 auto;
}
#exhibit_chess img{
	width: 340px;
	max-width: 90vw;
}
#empty{
	height: 50vh;
}
