/*全体の設定
---------------------------------------------------------------------------*/
html{
	-webkit-scroll-behavior:smooth;
	scroll-behavior:smooth;
}
body {
	margin: 0px;
	padding: 0px;
}
/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	margin: 0 auto;
	padding: 0 1%;
}
#scrool_box{ 
	position: relative;
	top: 8vmin;
 }
/*メインイメージ
---------------------------------------------------------------------------*/
#img_box {
	position: relative;
	width: 98vw;
	height: 39vw;
}
#main_img{
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#portfolio{
	z-index:1;
	font-size: 6vw;
	font-weight: bold;
	color: floralwhite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
#comment{
	position: absolute;
	top: 100%;
	font-size: 1vmin;
}
/*コンテンツ
---------------------------------------------------------------------------*/
#products{
	margin-top: 8vmin;
}
.product{
	padding-top: 8vmin;
	margin-bottom: 25vmin;
}
.index{
	font-size: 4vmin;
	font-weight: bold;
	margin-top: -8vmin;	/* position: fixed;で固定したヘッダー分の */
	padding-top: 8vmin;	/* ずれを調整するコード */
}
#products p{ 
	margin-left: 30px;
	font-size: 2.5vmin;
	line-height: 1;
}
#about_text{
	margin-top: 10px;
	margin-left: 40px;
	font-size: 3vmin;
	line-height: 2;
}
#original_view{
	display: flex;				/*タグ内の要素を上下左右中央寄せ*/
	justify-content: center;	/*左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
}
.iframs_view{
	display: flex;				/*タグ内の要素を上下左右中央寄せ*/
	justify-content: center;	/*左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
}
fieldset{
	position: relative;
	font-size: 3vmin;
}
fieldset a{ 
	position: absolute;	/*親要素のpositionがstatic以外なら、親要素基準で位置を指定できる*/
	top: 3vmin;
	font-size: 2vmin;
}
iframe{ 
	display: inline;
	border: none;
	margin: 0;
}
#eight_queen{
	width: 60vw;
	height: 40vw;
}
#eight_queen span{
	font-size: 1vw;
}
#eight_queen p{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 2vmin;
}
#eight_horizontal{
	margin-right: 1vw;
	width: 37vw;
	height: 23vw;
}
#eight_vertical{
	width: 23vw;
	height: 37vw;
}
#chess{
	position: relative;
	width: 34vw;
	height: 40vw;
}
#chess div{
	margin: 0 auto;
	padding: 0 0;
	text-align: center;
}
#chess img{
	width: 30vw;
}
#empty{
	height: 70vh;
}
