.navigation {
	/* flexboxで要素を真ん中に指定 */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	width: 98vw;
	padding: 0px;
	margin-top: 1vw;
	margin-bottom: 0.5vw;
	/* ポジションを相対的な位置に指定 */
	position:relative;
	z-index:2;
}
.navigation ul {
	display: block;
	background: white;
	height: 4vw;
	/* リストの無駄なスタイルを削除 */
	list-style:none;
	margin: 0px;
	padding: 0px;
}
.navigation ul li {
	display: inline-block;
	border-top: 0.1vw solid silver;
	border-bottom: 0.1vw solid silver;
}
a {
	font-size: 2vw;
	color: black;
	/*マウスオン時の移り変わるまでの時間設定*/
	transition: 0.5s;
}
/*マウスオン時の文字と背景の色*/
a:hover {
	color:white;
	background: silver;
}
.navigation ul li a {
	display:block;
	padding:0px 3vw;
	/* リンク指定した要素のスタイルを削除 */
	text-decoration:none;
	float: left;
	line-height: 4vw;
}
.navigation ul li:hover > ul {
	display:block;
}
.navigation ul ul {
	display:none;
	background: white;
	width: 100%;
	position: absolute;
	top: 4vw;
	left: 0px;
	padding-bottom: 0.5vw;
}
.navigation ul ul .ico{
	display: flex;				/*タグ内の要素を上下左右中央寄せ*/
	justify-content: center;	/*左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
	width: 3vw;
	height: 3vw;
	font-size: 3vw;
}
.navigation ul ul li{
	background: white;
}
.navigation ul ul a{
	display: flex;				/*aタグ内の要素を上下左右中央寄せ*/
	justify-content: center;	/*左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
	padding:0px 5vw;
}
#original a{
}
#emulate a{
	padding:0px 2vw;
}
#notebook{
	height: 100%;
}
#notebook a{
	padding: 1vw 5vw;
	font-size: 1vw;
	line-height: 1;
}