ul,li,a{
	display: flex;				/*タグ内の要素を並列配置に*/
	justify-content: center;	/*左右中央揃え*/
	align-items: center;		/*上下中央揃え*/
}
li{ list-style: none;	/* リストの不用なスタイルを削除 */}
.select_menu a{
	text-decoration: none;	/* テキスト下線の非表示 */
	text-align: center;		/* テキスト左右中央配置 */
}
#nav{
	position: fixed;	/* 要素をスクロールさせずに固定 */
	
	width: 100vw;
	height: 8vmin;

	background: white;	/* 背景色を指定 */
	opacity: 0.95;		/* 透過の設定 */
	z-index: 2;			/* 重なりの順序 */
}
#nav li{
	width: 25vw;
	height: 8vmin;
	padding: 1vmin;
	border: none;
	
}
#nav a{
	width: 25vw;
	height: 7vmin;
	padding: 0 2vmin;

	font-size: 5vmin;
	color: black;
	
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

/*** マウスオン時の文字と背景の色 ***/
.select_menu a:hover{
	color: white;
	background: silver;
}

/*** ドロップダウンメニューの表示 ***/
#nav li:hover > ul {
	display: flex;	/*タグ内の要素を並列配置に*/
}
#nav ul{
	display:none;
	position: absolute;
	top: 8vmin;
	left: 0;

	width: 100vw;
	height: 8vmin;
	
	background: white;
}
#nav ul li{
	width: 20vw;
}


.select_menu li{
	margin: 5px;
	border: 1px solid silver;
}
.select_menu a{
	padding: 10px;
}
#emulate,#items{ justify-content: left;	/*左揃え*/}
#emulate a{
	height: 50px;
	font-size: 18px;
}
.ico{
	width: 40px;
	height: 40px;
	padding: 0 5px;
}