body{
	background-image: url(../img/background.png);
	display: relative;
	width: 100vw;
	font-size: 24px;
}
h1{
	text-align: left;
	margin-left: 10px;
	margin-bottom: 0px;
	color: blue;
	font-size: 40px;
}
#container{
	display: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	max-width: 800px;
	text-align: center;
}
img{
	height: auto;
	background: transparent;
	border: solid 1px;
	width: 90vw;
	max-width: 700px;
	height: 60%;
	margin: 0px 5px;
}
#lower .sheet{
	display: inline-block;
}
#lower img{ 
	width: 45vw;
	max-width: 360px;
	height: 50%;
}
.sheet p{
	font-size: 18px;
	margin-top: 0px;
	padding-top: 0px;
}
fieldset{
	text-align: left;
}
span{
	display: flex;				/*タグ内の要素を上下左右中央寄せ*/
	align-items: center;		/*上下中央揃え*/
}
span img{
	border: none;
}
#javaIco{
	height: 50px;
	width: 50px;
	margin: 0px 0px;
}
#eclipseIco{
	height: 30px;
	width: 30px;
	margin: 0px 10px;
}
#pixel_art{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
