body{
	background-image: url(../img/background.png);
	display:relative;
	font-size:24px;
}
h1{
	text-align: left;
	margin-left: 10px;
	margin-bottom: 0px;
	color:blue;
	font-size:40px;
}
#container{
	display:absolute;
	margin-left: auto;
	margin-right: auto;
	width:800px;
	text-align: center;
}
img{
	display:inline;
	height:auto;
	background:transparent;
	border:solid 1px;
	width:700px;
	height:400px;
	margin:0px 0px;
}
#lower .sheet{
	display:inline-block;
}
#lower img{width:360px;}
.sheet p{
	font-size:18px;
	margin-top: 0px;
	padding-top: 0px;
}
fieldset{
	text-align: left;
}
span{
	display: flex;				/*タグ内の要素を上下左右中央寄せ*/
    /*justify-content: center;	左右中央揃え*/
    align-items: center;		/*上下中央揃え*/
}
span img{
	border:none;
	height:50px;
	width:50px;
}

