body,.parlent,.child,p,span{
	margin: 4px;
	padding: 4px;
	border: solid 2px;
}
body{
	border-color: orange;
}
.parlent {
	border-color: cyan;
	height:120px;
}
.child {
	border-color: tomato;
	height: 100px;
	width: 250px;
}
img{
	width: 50px;
	height: 50px;
	border: solid 1px;
}